*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;

}


body{
    background-color:black
}
/* NAVBAR */

.navbar{
    background-color: none;
    position: fixed;
    width: 100vw;
    z-index:1;
    font-family: "Lato"
}

/* CARD */

.tar_qs{
    border:none;
    display:inline-block
}

.cuerpo_qs{
    background-color:black;
}

.tit_qs{
    background-color: #0dcaf0;
}

/* DESTACADOS */

.tar_dest{
    border:none;
    display:inline-block;
    background-color:#0dcaf0
}

/* FOOTER */
footer{
    background-color:#0dcaf0;
    color:white;
    display:flex
}







